<h2>To-Do List</h2>

<form id="listForm">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <button type="submit">Save</button>
    <span id="listError" class="error"></span>
  </div>
</form>

<h3>Items</h3>

<form id="addItemForm">
  <div>
    <label for="item">New item:</label>
    <input type="text" id="item" name="item">
    <button type="submit">Add</button>
    <span id="addItemError" class="error"></span>
  </div>
</form>

<div id="itemsView">
</div>